### モジュールのインポート

In [1]:
from yikit.feature_selection import WrapperSelector
from sklearn.datasets import load_boston
import pandas as pd

### サンプルデータの取得

In [2]:
boston = load_boston()
X = pd.DataFrame(boston['data'], columns = boston['feature_names'])
y = pd.Series(boston['target'], name = 'PRICE')
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

### 削減してみる

In [3]:
selector = WrapperSelector(random_state = 334)
selector.fit(X, y)
X_selected = X.loc[:, selector.get_support()]
X_selected.head()

Calc r_ccmax: 100%|██████████| 10000/10000 [00:19<00:00, 521.57it/s]

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	0
Tentative: 	13
Rejected: 	0
Iteration: 	9 / 100
Confirmed: 	9
Tentative: 	1
Rejected: 	3
Iteration: 	10 / 100
Confirmed: 	9
Tentative: 	1
Rejected: 	3
Iteration: 	11 / 100
Confirmed: 	9
Tentative: 	1
Rejected: 	3
Iteration: 	12 / 100
Confirmed: 	9
Tentative: 	1
Rejected: 	3
Iteration: 	13 / 100
Confirmed: 	9
Tentative: 	1
Rejected: 	3
Iteration: 	14 / 100
Confirmed: 	9
Tentative: 	1
Rejected: 	3
Iteration: 	15 / 100
Confirmed: 	9
Tentative: 	0
Rejected: 	4


BorutaPy finished running.

Iteration: 	16 / 100
Confirmed: 	9
Tentative: 	0
Rejected: 	4

      CRIM    NOX     RM   AGE     DIS    TAX  PTRATIO       B  LSTAT
0  0.00632  0.538  6.575  65.2  4.0900  296.0     15.3  396.90   4.98
1  0.02731  0.469  6.421  78.9  4.9671  242.0     17.8  396.90   9.14
2  0.02729  0.469  7.185  61.1  4.9671  242.0     17.8  392.83   4.03
3  0.03237  0.458  6.998  45.8  6.0622  222.0     18.7  394.63   2.94
4  0.06905  0.458  7.147  54.2  6.0622  222.0     18.7  396.90   5.33

In [4]:
selector.feature_selector_

BorutaPy(estimator=RandomForestRegressor(n_estimators=44,
                                         random_state=RandomState(MT19937) at 0x7FB3FECBBA40),
         n_estimators='auto', perc=79.86455560027798,
         random_state=RandomState(MT19937) at 0x7FB3FECBBA40, two_step=False,
         verbose=2)